
<div class="container" *ngIf="languages.length > 0">
    <h3>Employee Form</h3>
    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
        <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
            <label class="control-label">First Name</label>
            <!-- minlength is not supported on all browsers but pattern is checkout caniuse.com -->
            <!-- maxlength seems to be supported on most browsers -->
            <input #firstName="ngModel" type="text" class="form-control" required
                   name="firstName" [(ngModel)]="model.firstName">
            <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
                First Name is required
            </div>
        </div>         
        <div class="form-group">
            <label>Last Name</label>
            <input #lastName="ngModel" type="text" class="form-control" required
                   name="lastName" [(ngModel)]="model.lastName">
            <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger">
                Last Name is required
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" 
                       name="is-full-time" [(ngModel)]="model.isFullTime"> Full Time Employee
            </label>
        </div>
        <label>Payment Type</label>
        <div class="radio">
            <label>
                <input type="radio" name="paymentType" value="w2" checked
                       [(ngModel)]="model.paymentType">
                W2
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="paymentType" value="1099"
                       [(ngModel)]="model.paymentType">
                1099
            </label>
        </div>
        <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
            <label class="control-label">Primary Language</label>
            <select class="form-control"
                    #primaryLanguage
                    name="primaryLanguage"
                    (blur)="validatePrimaryLanguage(primaryLanguage.value)"
                    (change)="validatePrimaryLanguage(primaryLanguage.value)"
                    [(ngModel)]="model.primaryLanguage">
                <option value="default">Select a language . . . .</option>
                <option *ngFor="let lang of languages">
                    {{ lang }}
                </option>
            </select>
        </div>
       <!-- [disabled] if the desire is to disable the submit -->
      <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Ok</button>

    </form>
</div>